.portfolio {
  flex: 1;
  padding: 20px;
}
/* ============================== */
/* Navbar                         */
/* ============================== */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* .name {
  margin-right: auto;
  font-size: 1.5em;
} */

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: auto;
}
.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.nav-links li.active {
  font-weight: bold;
  color: #4504ae;
}
/* ============================== */
/* header-section                       */
/* ============================== */

.header-section {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.intro {
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0px;
  font-weight: bold;
}
.availability {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #4caf50;
  margin-bottom: 1rem;
}
.icon {
  width: 42px;
  height: 12px;
}
.title {
  font-size: 2em;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  color: #6c63ff;
}

.description {
  max-width: 500px;
  padding: 0 20px;
  font-size: 1rem;
}
.highlight {
  font-weight: bold;
  color: #6c63ff;
}
.buttons {
  margin-top: 20px;
  align-items: center;
  display: flex;
  gap: 10px;
}

.icons {
  font-size: 30px;

  display: flex;
  margin-bottom: 20px;
}

.cv-button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* .cv-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    red,
    blue,
    deeppink,
    blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 30s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
} */
/* ============================== */
/* experience                       */
/* ============================== */
.experience-icon {
  margin-right: 20px;
  width: 42px;
  height: 30px;
  color: #bab4b4;
}

.timeline {
  padding: 50px 20px;
}

.timeline-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* max-width: 80%; */
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 10%;
}

.time-line-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.timeline-item {
  width: 50%;

  padding: 20px;
  position: relative;
}

.timeline-item.right::before {
  left: -4.5%;
}
.timeline-content {
  padding: 20px;
  background: transparent;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-date {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.timeline-company {
  font-size: 1rem;
  color: #666;
  font-size: 1.1rem;
}

/* .timeline-content::before {
  content: "";
  position: absolute;
  top: 15px;
  right: -8px;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #f1f1f1;
} */

.timeline-item.left {
  align-self: flex-start;
  left: -3.5%;
  height: 90px;
}

.timeline-item.right {
  left: 51.6%;
  height: 90px;
}
.timeline-item::before {
  content: "";
  margin-top: 50px;
  position: absolute;
  top: 40%;
  right: 1%;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: #6c63ff;
  /* border: 3px solid white; */
}
.timeline-container::before {
  content: "";
  margin-top: 50px;
  position: absolute;
  width: 4px;
  background-color: #6c63ff;
  top: 16%;
  bottom: 3%;
  left: 50%;
  margin-left: -2px;
}

/* ============================== */
/* Projects                       */
/* ============================== */

.projects-title {
  padding-top: 6%;
  font-size: 2em;
  margin-bottom: 20px;
}

.projects-section {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.projects-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  max-width: 70%;
}

.project-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}

.project-item {
  background-color: transparent;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  padding: 20px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
  margin: 0 auto;
}

/* .project-item:hover {
  transform: scale(1.05);
} */

.project-image {
  width: 17rem;
  height: 13rem;
  border-radius: 10px;
  background: white;
  align-items: center;
}

.project-title {
  margin-top: 0px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  height: auto;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: row-reverse;
}

.project-description {
  flex: 1;
  font-size: 1.1em;
  /* color: #666; */
  margin-right: 20px;
  width: center;
  height: auto;
}
.project-description-container {
  margin-top: 0px;
  flex-grow: 1;
  width: 50%;
}

.tools-icons {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.tool-icon {
  font-size: 24px;
  margin: 0 5px;
}

.scroll-button {
  position: absolute;
  top: 50%; /* Centrar verticalmente con respecto a las tarjetas */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.project-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.scroll-button.left {
  left: -70px;
}
.scroll-button.right {
  right: -60px;
}
.scroll-button svg {
  width: 50px;
  height: 50px;
  fill: #6c63ff;
  transition: transform 0.3s ease;
}

.scroll-button:hover svg {
  transform: scale(1.2);
}
.projects-indicators {
  margin-top: 0px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.dot.active {
  background-color: #717171;
}
/* ============================== */
/* papers                       */
/* ============================== */

.papers-section {
  text-align: center;
  margin-top: 50px;
}

.section-title {
  padding-top: 6%;
  text-align: center;
  font-size: 2em;
  width: 100%;
}
.papers-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  max-width: 70%;
}
.paper-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.paper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.paper-image-container {
  display: flex;
  flex-shrink: 0;
}

.paper-image {
  max-width: 300px;

  width: 100%;
  height: auto;
  border-radius: 10px;
}
.paper-description-container {
  margin-left: 50px;
  margin-right: 20px;
  flex: 1;
}

.paper-title {
  margin: 0;
  font-size: 1.5em;
}

.paper-description {
  font-size: 1em;
  margin: 10px 0;
  text-align: justify;
  max-height: 150px;
}

.download-btn {
  margin-top: 5rem;
  padding: 0.75rem 1.5rem;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.download-btn:hover {
  background-color: #4504ae;
}

/* ============================== */
/* about                       */
/* ============================== */
#about {
  margin-top: 100px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h1 {
  padding-top: 15%;
  font-size: 2em;
}

.about-description {
  max-width: 500px;
  margin-bottom: 5px;
  margin-bottom: 5px;
  line-height: 1.6;
  text-align: j;
}

.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.contact-btn:hover {
  background-color: #4504ae;
}

/* ============================== */
/* Footer            */
/* ============================== */

.footer {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  background-color: transparent;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.footer p {
  margin-right: 500px;
}
.footer-links {
  display: flex;
  gap: 10px;
}
.footer-links a {
  text-decoration: none;
  transition: color 0.3 ease;
}

.footer-links a:hover {
  color: #4504ae;
}

/* ============================== */
/* Dark and Light Mode            */
/* ============================== */

.dark-mode {
  /* background: linear-gradient(to bottom, #6a6a6a, #0b0b0b); */
  background: #181627;
  color: #bab4b4;
}
.dark-mode .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(195, 189, 189);
  padding: 10px;
}
.dark-mode .social-icon {
  color: #bab4b4;
}
.dark-mode .experience-icon {
  color: #bab4b4;
}
.dark-mode .footer-links a {
  color: #bab4b4;
}
.dark-mode .cv-button {
  background-color: #bab4b4;
}

.light-mode {
  /* background: linear-gradient(to bottom, #6f6d6d, #ffffff); */
  background: white;
  color: #333;
}

.light-mode .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding: 10px;
}
.light-mode .social-icon,
.experience-icon {
  color: #000;
}
.light-mode .cv-button {
  background-color: #000;
  color: white;
}

/* ============================== */
/* Responsive                     */
/* ============================== */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
  }
  .nav-links {
    flex-direction: column;
    gap: 1px;
  }

  /*------------------timeline-------------*/
  .timeline-container {
    max-width: 90%;
  }

  .timeline-item.left,
  .timeline-item.right {
    width: 100%;
    left: 0;
  }

  .timeline-item.right::before {
    left: 0;
  }

  .timeline-item.left::before {
    left: 0;
  }

  .timeline-container::before {
    left: 2%; /* Ajustar la línea para pantallas más pequeñas */
  }

  .timeline-item::before {
    left: -4%; /* Ajustar la posición del círculo */
  }
  /*---------PROJECTS-------*/
  .projects-wrapper {
    max-width: 90%; /* Ajuste en pantallas más pequeñas */
  }

  .project-content {
    flex-direction: column; /* Cambiar la disposición a vertical */
  }

  .project-title {
    font-size: 1.3em; /* Ajustar el tamaño de la fuente */
  }

  .project-description {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center; /* Centrar texto en pantallas pequeñas */
  }

  .scroll-button.left {
    left: -50px;
  }

  .scroll-button.right {
    right: -40px;
  }

  .scroll-button svg {
    width: 40px;
    height: 40px;
  }

  .project-image {
    width: 100%; /* Imagen ajustada al 100% del ancho */
    max-width: 15rem; /* Ajuste para pantallas más pequeñas */
  }
  /*-------Paper------*/

  .section-title {
    font-size: 1.5em;
  }

  .paper-title {
    font-size: 1.2em;
  }
  .paper-item {
    flex-direction: column;
    align-items: center;
  }
  .paper-content {
    flex-direction: column;
    align-items: center;
  }
  .paper-image {
    max-width: 50%;
    margin-left: 20%;
  }
  .papers-wrapper {
    max-width: 100%;
  }
  .paper-description {
    font-size: 0.9em;
  }
  .paper-description-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
  }

  .download-btn {
    padding: 0.5rem 1rem;
  }

  .about h1 {
    font-size: 1.5em;
  }

  /*-------------footer------*/
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer p {
    margin-top: 100px;
    margin-right: 0;
    margin-bottom: 1px;
  }

  .footer-links {
    flex-direction: column; /* Apila los enlaces en lugar de mostrarlos en fila */
    gap: 5px; /* Reduce el espacio entre enlaces */
  }
}

@media (max-width: 480px) {
  .timeline-content {
    padding: 10px;
  }

  .timeline-title,
  .timeline-date,
  .timeline-company {
    font-size: 0.9rem;
  }

  .timeline-item::before {
    width: 0.7rem;
    height: 0.7rem;
    left: -6%;
  }

  .timeline-container::before {
    left: 1.7%; /* Ajustar aún más para pantallas pequeñas */
  }
  /*-----------Projects-----------*/
  .projects-wrapper {
    max-width: 100%; /* Ocupa todo el ancho disponible */
  }

  .project-title {
    font-size: 1.2em; /* Reducir aún más el tamaño de la fuente */
  }

  .project-description {
    font-size: 1em; /* Reducir tamaño de la fuente para mejor legibilidad */
  }

  .scroll-button.left {
    left: -30px;
  }

  .scroll-button.right {
    right: -30px;
  }

  .scroll-button svg {
    width: 30px;
    height: 30px;
  }

  .project-image {
    max-width: 100%; /* Imagen al 100% para pantallas móviles */
  }
}
